In [ ]:
import pandas as pd
import numpy as np
import time

In [ ]:
np.random.seed(0)
df = pd.DataFrame(np.random.rand(10000000,4), columns=('A','B','C','D'))

In [ ]:
df.head()

          A         B         C         D
0  0.548814  0.715189  0.602763  0.544883
1  0.423655  0.645894  0.437587  0.891773
2  0.963663  0.383442  0.791725  0.528895
3  0.568045  0.925597  0.071036  0.087129
4  0.020218  0.832620  0.778157  0.870012

Iterrows

In [ ]:
time_1 = time.time()

for i, row in df.iterrows():
  if row['A'] < 0.4:
    df.at[i, 'E'] = 0
  else:
    df.at[i, 'E'] = 1
    
time_2 = time.time()

print('Tempo do loop: ',(time_2 - time_1), 'segundos')

Tempo do loop:  803.7258675098419 segundos

In [ ]:
df.head()

          A         B         C         D    E
0  0.548814  0.715189  0.602763  0.544883  1.0
1  0.423655  0.645894  0.437587  0.891773  1.0
2  0.963663  0.383442  0.791725  0.528895  1.0
3  0.568045  0.925597  0.071036  0.087129  1.0
4  0.020218  0.832620  0.778157  0.870012  0.0

iloc

In [ ]:
np.random.seed(0)
df = pd.DataFrame(np.random.rand(10000000,4), columns=('A','B','C','D'))

In [ ]:
time_1 = time.time()

for i in df.index:
  if df['A'].iloc[i] < 0.4:
    df.at[i, 'E'] = 0
  else:
    df.at[i, 'E'] = 1
    
time_2 = time.time()

print('Tempo do loop: ',(time_2 - time_1), 'segundos')

Tempo do loop:  312.2938129901886 segundos

In [ ]:
df.head()

          A         B         C         D    E
0  0.548814  0.715189  0.602763  0.544883  1.0
1  0.423655  0.645894  0.437587  0.891773  1.0
2  0.963663  0.383442  0.791725  0.528895  1.0
3  0.568045  0.925597  0.071036  0.087129  1.0
4  0.020218  0.832620  0.778157  0.870012  0.0

Apply

In [ ]:
np.random.seed(0)
df = pd.DataFrame(np.random.rand(10000000,4), columns=('A','B','C','D'))

In [ ]:
time_1 = time.time()

df['E'] = df['A'].apply(lambda x : 0 if x < 0.4 else 1)

time_2 = time.time()

print('Tempo do loop: ',(time_2 - time_1), 'segundos')

Tempo do loop:  3.535534381866455 segundos

In [ ]:
df.head()

          A         B         C         D  E
0  0.548814  0.715189  0.602763  0.544883  1
1  0.423655  0.645894  0.437587  0.891773  1
2  0.963663  0.383442  0.791725  0.528895  1
3  0.568045  0.925597  0.071036  0.087129  1
4  0.020218  0.832620  0.778157  0.870012  0

np.where

In [ ]:
np.random.seed(0)
df = pd.DataFrame(np.random.rand(10000000,4), columns=('A','B','C','D'))

In [ ]:
time_1 = time.time()

df['E'] = np.where(df['A'].values < 0.4, 0, 1)

time_2 = time.time()

print('Tempo do loop: ',(time_2 - time_1), 'segundos')

Tempo do loop:  0.08410477638244629 segundos

In [ ]:
df.head()

          A         B         C         D  E
0  0.548814  0.715189  0.602763  0.544883  1
1  0.423655  0.645894  0.437587  0.891773  1
2  0.963663  0.383442  0.791725  0.528895  1
3  0.568045  0.925597  0.071036  0.087129  1
4  0.020218  0.832620  0.778157  0.870012  0